<!DOCTYPE html>
<html>
    <head>
        <title>RO! SHAM! BO!</title>
    </head>
    <body>
        <form action="/count" method="post">
            <label>enter player 1 move</label>
            <input type="" name="cents">

            <button type="submit">Calc!</button>
        </form>
    </body>
</html>
