@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Player 1</h1>

<form action="/player_two" method="post">
    <button type="submit" value="rock" name="result">Rock</button>
    <button type="submit" value="paper" name="result">Paper</button>
    <button type="submit" value="scissors" name="result">Scissors</button>
</form>
